# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
VectorSorting/.vs/VectorSorting/FileContentIndex/45a8b8fe-a155-4c90-b903-e50f1d0db6bb.vsidx
/VectorSorting/.vs
/VectorSorting/.vs/VectorSorting
/VectorSorting/.vs/VectorSorting/FileContentIndex
