# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
VectorSorting/.vs/VectorSorting/FileContentIndex/45a8b8fe-a155-4c90-b903-e50f1d0db6bb.vsidx
/VectorSorting/.vs
/VectorSorting/.vs/VectorSorting
/VectorSorting/.vs/VectorSorting/FileContentIndex
VectorSorting/.vs/VectorSorting/FileContentIndex/a5bed242-3084-4493-b298-c665282f3d5f.vsidx
VectorSorting/.vs/VectorSorting/FileContentIndex/a5bed242-3084-4493-b298-c665282f3d5f.vsidx
VectorSorting/.vs/VectorSorting/FileContentIndex/a5bed242-3084-4493-b298-c665282f3d5f.vsidx
VectorSorting/.vs/VectorSorting/FileContentIndex/a5bed242-3084-4493-b298-c665282f3d5f.vsidx
VectorSorting/.vs/VectorSorting/v17/.suo
VectorSorting/.vs/VectorSorting/v17/Browse.VC.db
VectorSorting/.vs/VectorSorting/v17/DocumentLayout.json
VectorSorting/VectorSorting/x64/Release/vc143.pdb
VectorSorting/VectorSorting/x64/Release/VectorSorting.iobj
VectorSorting/VectorSorting/x64/Release/VectorSorting.ipdb
VectorSorting/VectorSorting/x64/Release/VectorSorting.log
VectorSorting/VectorSorting/x64/Release/VectorSorting.tlog/CL.command.1.tlog
VectorSorting/VectorSorting/x64/Release/VectorSorting.tlog/CL.read.1.tlog
VectorSorting/VectorSorting/x64/Release/VectorSorting.tlog/CL.write.1.tlog
*.pdb
